clientID      = "NETATMO_CLIENTID"
clientSecret  = "NETATMO_CLIENTSECRET"
RefreshToken  = "NETATMO_REFRESHTOKEN"
InfluxUrl     = "INFLUX_URL"
InfluxToken   = "INFLUX_TOKEN"
InfluxOrg     = "INFLUX_ORG"
InfluxBucket  = "INFLUX_BUCKET"


